* {

	box-sizing: border-box;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

body {
	font-family: Roboto;
	color: #FCFCFC;
}

.navbar-collapse {
	flex-grow: 0;
}

.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.navbar-brand {
	padding-top: 2.31rem;	
}

.navbar-light .navbar-nav .nav-link {
	color: #FCFCFC;
	font-size: 18px;
	line-height: 21px;
	
}
.navbar-light .navbar-nav .nav-link.registration {
	border: 2px solid #FFFFFF;
	
	border-radius: 5px;
	padding: 10px 38px;
}
.navbar-light .navbar-nav .nav-link.registration:hover {
	border: 2px solid #FFD9D9;
	color: #FFD9D9;
}

.navbar-light .show .navbar-nav .nav-link {
	border: 2px solid #FFFFFF;
	
	border-radius: 5px;
	padding: 10px 38px;
	
	
}
.navbar-light .show .navbar-nav .nav-item{

width: 100%;
margin-bottom: 10px;
margin-left: 0;
margin-right: 0;

}
.fixed-top {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

/*
header .navbar {
	background-color: #ffffff !important;
	padding: 0 !important;
}
*/
.nav-item {
	margin-left: 24px;
	margin-right: 24px;
}


.container {
	max-width: 1520v;
}

.main-section-top {
	height: 100vh;

	background: url(../img/main_bg.png) ceter top, no-repeat,
	 url(../img/main_bot_bg_left.png) left bottom no-repeat,
	 url(../img/main_bot_bg_right.png) right bottom no-repeat,
		linear-gradient(252.43deg, #D45B78 0.01%, #4B3862 101.01%);
	background-size: 65vw, 12%, 12%, 100%;
}

.main-section-top__title {
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	margin-top: 51%;
	margin-bottom: 37px;

}

.main-section-top__subtitle {
	margin: 0 auto;
	font-size: 24px;
	line-height: 150%;
	color: #F2F2F2;
	margin-bottom: 68px;
	max-width: 961px;

}

.button {

	color: #FFFFFF;
	border: none;
	
	border-radius: 5px;
	padding: 16px 55px;
	font-size: 36px;
	line-height: 42px;
}

.button_top {
	background: #D75C78;
	display: flex;
	margin: 0 auto;
	width: 362px;
	height: 75px;
	filter:drop-shadow(0px 17px 32px rgba(0, 0, 0, 0.25));
	margin-bottom: 84px;

}
.button_top:hover {
	background: #C83E5D;


}
.button_bot {
	background-color: transparent;
	width: 100%;
	border: 5px solid #FFFFFF
}
.steps-title {
	font-size: 64px;
	font-weight: 700;
	font-size: 64px;
	line-height: 150%;
	padding-bottom: 70px;

}
.steps {
	
	padding-top: 200px;
	background: url(../img/steps_aqualung_bg.png) 90% 10% no-repeat,
	url(../img/steps_aqualung_bg2.png) 20% 80% no-repeat,
	url(../img/steps_buble.png) 0% 15% no-repeat,
	url(../img/steps_buble.png) 60% 52% no-repeat,
	url(../img/steps_buble_bot_bg_right.png) 100% 90% no-repeat,
	linear-gradient(178.68deg, #4F3963 -2.24%, #764469 31.33%, #5E3E66 76.25%, #2C2142 94.12%);
	background-size: 30%,	30%, 5%, 4%, 13%,	100%;
}

.sertificats {
	padding-top: 330px;
	padding-bottom: 538px;

	background:
		url(../img/footer_top_bg.png) top right no-repeat,
		url(../img/footer_bot_bg2.png) 0 74% no-repeat,
		url(../img/footer_bg.png) bottom no-repeat,
		linear-gradient(178.68deg, #4F3963 -2.24%, #764469 31.33%, #5E3E66 76.25%, #2C2142 94.12%);

	background-size: 18%, 18%, 100%, 100%;
}

.steps .col-lg-6:nth-child(2n) {
	margin-top: 230px;
	padding-left: 22px;

}

.steps .col-lg-6:nth-child(2n+1) {
	margin-bottom: 160px;
	padding-right: 22px;

}

.cart {
	display: flex;
	overflow: hidden;
	padding: 43px 80px 55px 0;

	box-shadow: 5px 22px 33px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	background: #523A64;

	min-height: 308px;
}

.cart__number {
	margin-left: -17px;
	font-weight: 900;
	font-size: 96px;
	line-height: 112px;
	color: #944B6E;
}

.cart__text {
	margin-left: 22px;
	margin-top: 44px;
}

.cart__title {
	margin-bottom: 27px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #F2F2F2;
}

.cart__subtitle {
	font-size: 18px;
	line-height: 150%;
	color: #F2F2F2;

}
.video-title {
	max-width: 652px;
	font-weight: 700;
	font-size: 64px;
	line-height: 150%;
	padding-bottom: 70px;
	margin-top: 336px;

}



.sertificats {
	padding-top: 330px;
	padding-bottom: 538px;

	background: 
	url(../img/footer_top_bg.png) top right no-repeat,
	url(../img/footer_bot_bg2.png) 0 74% no-repeat,
	url(../img/footer_bg.png) bottom no-repeat,
		linear-gradient(178.68deg, #4F3963 -2.24%, #764469 31.33%, #5E3E66 76.25%, #2C2142 94.12%);
		
	background-size: 18%, 18%, 100%, 100%;
}

.sertificat {
	max-width: 500px;
	padding: 60px 75px 150px 75px;
	border-radius: 5px;
	filter: drop-shadow(1px 63px 100px rgba(0, 0, 0, 0.25));

}

.sertificat.small {
	max-height: 562px;
	background: url(../img/sertificat-bg1.png) center/cover no-repeat ;
}
.sertificat.big {
	max-height: 653px;
	background: url(../img/sertificat-bg2.png) center/cover no-repeat ;
}
.setificat__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 150%;
	margin-bottom: 40px;
}



.sertificat__text{
	font-weight: 500;
	font-size: 22px;
	line-height: 150%;
	margin-bottom: 100px;
}



.video-title {
	max-width: 652px;
	font-weight: 700;
	font-size: 64px;
	line-height: 150%;
	padding-bottom: 70px;
	margin-top: 336px;
}



	.video {
		/* чтобы можно было внутри всё разместить через absolute */
			
			position: relative;
	

		
	}

	.video__img {
	
		
	}

	.video__play-icon {
		max-width: 252px;
		max-height:252px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	


	}





@media only screen and (max-width : 992px) {

	.navbar-brand {
		padding-top: 0.31rem;
	}
	.logo {
		width: 50%;
	}


	.navbar {
		background: linear-gradient(252.43deg, #D45B78 0.01%, #4B3862 101.01%);

	}
	.fixed-top {
		position: fixed;
	
	}
	.main-section-top__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 75px;
		margin-top: 70%;
		margin-bottom: 30px;

	}
	.main-section-top {
		background: url(../img/main_bg.png) 50% 30% no-repeat,
		 url(../img/main_bot_bg_left.png) left bottom no-repeat,
		 url(../img/main_bot_bg_right.png) right bottom no-repeat,
		linear-gradient(252.43deg, #D45B78 0.01%, #4B3862 101.01%);
	background-size: 85%,	12%,	12%,	100%;
		}




	.main-section-top__subtitle {
		
		font-size: 14px;
		line-height: 150%;
	

	}

	.button_top {
		margin-bottom: 35px;
		font-size: 24px;
		width: 300px;
		height: 60px;
		padding: 9px 64px;
	}


	.steps .col-lg-6:nth-child(2n) {
		margin-top: 16px;
		margin-bottom: 16px;
		padding-right: 10px;
		padding-left: 10px;

	}

	.steps .col-lg-6:nth-child(2n+1) {
		margin-top: 16px;
		margin-bottom: 16px;
		padding-right: 10px;
		padding-left: 10px;

	}

	.steps {
	
		background-size: 0%, 0%, 0%, 0%, 0%, 100%;
	}
	.cart {
		padding-top: 15px;
		min-height: auto;
	}
	.cart__number {
		margin-left: -17px;
		font-weight: 900;
		font-size: 64px;
	
	}

	.cart__text {
		margin-left: 4px;
		margin-top: 24px;
	}

	.cart__title {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		color: #F2F2F2;
	}

	.cart__subtitle {
		font-size: 14px;
		

	}




	.sertificats {
		
		background:url(../img/footer_top_bg.png) top right no-repeat,
		url(../img/footer_bot_bg2.png) 86% 85% no-repeat,
		url(../img/footer_bg.png) 0% 100% no-repeat,
		linear-gradient(178.68deg, #4F3963 -2.24%, #764469 31.33%, #5E3E66 76.25%, #2C2142 94.12%);
		background-size: 0%,
		18%,
		250%,
		100%;
	}
	.sertificats .row {
		margin: 0;
		
	}

	.sertificat {
		text-align: center;
		max-width: 500px;
		padding: 70px 50px 110px 50px;

	}

	.sertificat.small {
		margin-bottom: 37px;
		max-height: 562px;
		background: url(../img/sertificat-bg1.png) center/cover no-repeat;
	}

	.sertificat.big {
		max-height: 653px;
		background: url(../img/sertificat-bg2.png) center/cover no-repeat;
	}

	.setificat__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		margin-bottom: 20px;
	}


	.sertificat__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		margin-bottom: 90px;
	}

	.button_bot {
		border: 3px solid #ffffff;
		max-width: 230px;
		padding: 10px 25px;
		font-size: 24px;
		line-height: 28px;
	}

	.video-title {
		text-align: center;
		max-width: 652px;
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;

		margin-top: 50px;
		padding-bottom: 40px;

	}

	.video__play-icon {
		max-width: 100px;
		max-height: 100px;
	



	}



}




